<template>
  <client-only>
    <v-card class="pa-2">
      <v-card-title>Donut chart</v-card-title>
      <VueApexCharts
        width="500"
        type="donut"
        :options="chartOptions"
        :series="series"
      ></VueApexCharts>
    </v-card>
  </client-only>
</template>

<script>
export default {
  name: 'DonutExample',
  components: {
    VueApexCharts: () => import('vue-apexcharts'),
  },
  data: function () {
    return {
      chartOptions: {
        colors: ['#536dfe', '#ff5c93', '#3cd4a0', '#9013fe', '#ffc260'],
        labels: ['Blue', 'Green', 'Yellow', 'Red'],
        customScale: 0.8,
      },
      series: [11, 32, 45, 32],
    }
  },
  methods: {
    updateChart() {
      const max = 90
      const min = 20
      const newData = this.series.map(() => {
        return Math.floor(Math.random() * (max - min + 1)) + min
      })
      this.series = newData
    },
  },
}
</script>
