<template>
  <client-only>
    <v-card class="pa-2">
      <v-card-title>Gauge chart</v-card-title>
      <VueApexCharts
        width="500"
        :options="chartOptions"
        :series="series"
      ></VueApexCharts>
    </v-card>
  </client-only>
</template>

<script>
export default {
  name: 'GuageExample',
  components: {
    VueApexCharts: () => import('vue-apexcharts'),
  },
  data: () => ({
    series: [44, 55, 67, 83],
    chartOptions: {
      colors: ['#536dfe', '#ff5c93', '#3cd4a0', '#9013fe', '#ffc260'],
      chart: {
        height: 350,
        type: 'radialBar',
      },
      plotOptions: {
        radialBar: {
          dataLabels: {
            name: {
              fontSize: '22px',
            },
            value: {
              fontSize: '16px',
            },
            total: {
              show: true,
              label: 'Total',
              formatter: function (w) {
                // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                return 249
              },
            },
          },
        },
      },
      labels: ['Apples', 'Oranges', 'Bananas', 'Berries'],
    },
  }),
}
</script>
