<template>
  <client-only>
    <v-card class="pa-2">
      <v-card-title>TreeMap chart</v-card-title>
      <VueApexCharts :options="chartOptions" :series="series"></VueApexCharts>
    </v-card>
  </client-only>
</template>

<script>
export default {
  name: 'TreeMapExample',
  components: {
    VueApexCharts: () => import('vue-apexcharts'),
  },
  data: () => ({
    series: [
      {
        data: [
          {
            x: 'New Delhi',
            y: 218,
          },
          {
            x: 'Kolkata',
            y: 149,
          },
          {
            x: 'Mumbai',
            y: 184,
          },
          {
            x: 'Ahmedabad',
            y: 55,
          },
          {
            x: 'Bangaluru',
            y: 84,
          },
          {
            x: 'Pune',
            y: 31,
          },
          {
            x: 'Chennai',
            y: 70,
          },
          {
            x: 'Jaipur',
            y: 30,
          },
          {
            x: 'Surat',
            y: 44,
          },
          {
            x: 'Hyderabad',
            y: 68,
          },
          {
            x: 'Lucknow',
            y: 28,
          },
          {
            x: 'Indore',
            y: 19,
          },
          {
            x: 'Kanpur',
            y: 29,
          },
        ],
      },
    ],
    chartOptions: {
      legend: {
        show: false,
      },
      colors: ['#536dfe'],
      chart: {
        height: 350,
        type: 'treemap',
      },
      title: {
        text: 'Basic Treemap',
      },
    },
  }),
}
</script>
