<template>
  <!-- https://stackoverflow.com/questions/61634986/how-to-use-vuetify-grid-system-to-create-both-a-sidebar-and-a-navbar -->
  <v-app-bar
    app
    dense
    clipped-left
    shrink-on-scroll
    elevation="0"
    color="primary"
    :dark="dark"
    id="toolbar"
  >
    <v-toolbar-title></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-text-field
      flat
      dense
      filled
      solo
      hide-details
      label="Search"
      prepend-inner-icon="mdi-magnify"
    ></v-text-field>
    <v-spacer></v-spacer>
    <v-btn @click="dark = !dark" icon>
      <span v-if="dark === true">
        <v-icon medium>{{ icons.mdiWhiteBalanceSunny }}</v-icon>
      </span>
      <span v-else>
        <v-icon medium>{{ icons.mdiWeatherNight }}</v-icon>
      </span>
    </v-btn>
  </v-app-bar>
</template>

<script>
import colors from 'vuetify/lib/util/colors'
import { mdiWhiteBalanceSunny, mdiWeatherNight } from '@mdi/js'
export default {
  name: 'Header',
  data: () => ({
    dark: false,
    color: 'primary',
    icons: {
      mdiWhiteBalanceSunny,
      mdiWeatherNight
    },
    lightTheme: {
      primary: colors.purple.base,
      secondary: colors.grey.darken1,
      accent: colors.shades.black,
      success: 'success',
      info: 'info',
      warning: colors.orange.accent3,
      error: colors.red.accent3,
      background: colors.shades.white
    },
    darkTheme: {
      primary: colors.purple.base,
      secondary: colors.grey.darken1,
      accent: colors.shades.black,
      success: 'success',
      info: 'info',
      warning: colors.orange.accent3,
      error: colors.red.accent3,
      background: colors.shades.black
    }
  }),
  mounted() {},
  watch: {
    dark: function() {
      let htmlElement = document.documentElement

      if (this.dark) {
        localStorage.setItem('theme', 'dark')
        this.$vuetify.theme.dark = true
        this.$emit('isDarkTheme', 'dark')
      } else {
        localStorage.setItem('theme', 'light')
        this.$vuetify.theme.dark = false
        this.$emit('isDarkTheme', 'light')
      }
      this.setThemeColors()
    }
  },
  methods: {
    setThemeColors() {
      if (this.dark) {
        // this.$vuetify.theme.themes.dark.primary = '#4caf50'
      } else {
        // this.$vuetify.theme.themes.light.primary = '#4caf50'
      }
    }
  }
}
</script>

<style scoped>
/* .theme--light.v-sheet {
  color: #f2f5f8 !important;
}
.theme--dark.v-sheet {
  color: #003ec4 !important;
}
.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: #00168d !important;
} */
</style>
