<template>
  <v-navigation-drawer
    dense
    :mini-variant.sync="nav.minify"
    :dark="dark"
    id="nav-bar"
    :color="nav.color"
    v-model="drawer"
    app
  >
    <v-list-item :dark="dark" :key="'nav-header'">
      <NuxtLink class="router-link" :to="items[0].route">
        <v-list-item-avatar>
          <v-img :src="require('~/assets/img/insightstream.png')"></v-img>
        </v-list-item-avatar>
      </NuxtLink>
      <NuxtLink class="router-link" :to="items[0].route">
        <v-list-item-title
          id="siteTitle"
          v-if="nav.permanent || nav.expandOnHover"
        >
          Insighstream
        </v-list-item-title>
      </NuxtLink>
      <!-- <v-btn icon @click.stop="isPermanentNav">
          <v-icon v-if="nav.permanent == true" class="nav-item">{{
            icons.mdiCircleSlice8
          }}</v-icon>
          <v-icon v-else class="nav-item">{{ icons.mdiRadioboxBlank }}</v-icon>
        </v-btn> -->
    </v-list-item>

    <template v-for="item in items" dense>
      <v-list-group
        v-if="item.children"
        :key="item.text"
        dense
        class="nav-item"
      >
        <template v-slot:activator dense>
          <v-list-item-action dense class="nav-item">
            <v-icon dense slot="prependIcon" color="#FFF" class="nav-item">{{
              item.icon
            }}</v-icon>
          </v-list-item-action>
          <v-list-item dense>
            <v-list-item-content dense>
              <v-list-item-title dense class="nav-item">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
        <v-list-item
          dense
          v-for="child in item.children"
          :key="'submenu-' + child.text"
        >
          <v-list-item-action dense class="nav-item">
            <!-- <v-icon class="nav-item">{{ child.icon }}</v-icon> -->
          </v-list-item-action>
          <v-list-item-content>
            <NuxtLink class="router-link" :to="child.route">
              <v-list-item-title dense class="nav-item">
                {{ child.text }}
              </v-list-item-title>
            </NuxtLink>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-item dense v-else :key="'nav-' + item.text">
        <v-list-item-action>
          <NuxtLink class="router-link" :to="item.route">
            <v-icon dense class="nav-item">{{ item.icon }}</v-icon>
          </NuxtLink>
        </v-list-item-action>
        <v-list-item-content>
          <NuxtLink class="router-link" :to="item.route">
            <v-list-item-title class="nav-item">
              {{ item.text }}
            </v-list-item-title>
          </NuxtLink>
        </v-list-item-content>
      </v-list-item>
    </template>

    <template v-slot:append>
      <div class="text-center pa-2 nav-item">
        <span v-if="!nav.minify"> Insightstream </span>
        <v-icon small class="nav-item">{{ icons.mdiCopyright }}</v-icon>
        {{ new Date().getFullYear() }}
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
import {
  mdiWhiteBalanceSunny,
  mdiWeatherNight,
  mdiBrightness5,
  mdiCircleSlice8,
  mdiRadioboxBlank,
  mdiCopyright,
  mdiApps
} from '@mdi/js'
export default {
  name: 'Navigation',
  data: () => ({
    drawer: true,
    nav: {
      permanent: true,
      expandOnHover: false,
      minify: false,
      color: '#242939'
    },
    icons: {
      mdiWhiteBalanceSunny,
      mdiWeatherNight,
      mdiBrightness5,
      mdiCircleSlice8,
      mdiRadioboxBlank,
      mdiCopyright,
      mdiApps
    },
    items: [
      {
        icon: 'mdi-home-city',
        text: 'Dashboard',
        route: '/'
      },
      {
        icon: 'mdi-apps',
        text: 'Layouts',
        route: '/',
        model: true,
        children: [
          { text: 'Grid Layout', route: '/grid-layout' },
          { text: 'List Layout', route: '/list-layout' }
        ]
      },
      {
        icon: 'mdi-cards',
        text: 'Cards',
        route: '/'
      },
      { icon: 'mdi-account', text: 'Invoicing', route: '/invoicing' },
      {
        icon: 'mdi-account-group-outline',
        route: '/home',
        'icon-alt': 'mdi-account-group-outline',
        text: 'Expensing',
        model: true,
        children: [
          { text: 'OCR', route: '/ocr' },
          { text: 'Tessaract', route: '/tessaract' }
        ]
      },
      {
        icon: 'mdi-chart-bar-stacked',
        route: '/charts',
        'icon-alt': 'mdi-chart-bar-stacked',
        text: 'Charts',
        model: false
      },
      { icon: 'mdi-home-city', text: 'About', route: '/about' }
    ]
  }),
  props: {
    dark: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    nav: function() {
      if (this.nav.minify == false) {
        this.nav.permanent = false
        this.nav.expandOnHover = true
        this.nav.minify = true
      } else {
        this.nav.permanent = true
        this.nav.expandOnHover = false
        this.nav.minify = false
      }
      this.forceRerender()
      deep: true
    },
    dark: function(newVal, oldVal) {
      if (this.dark) {
        // this.nav.color = 'background'
      } else {
        // this.nav.color = '#242939'
      }
    }
  }
}
</script>

<style scoped>
#nav-bar {
  /* background-color: var(--v-background-base); */
}
#siteTitle {
  color: #ffff !important;
}
.nav-item {
  color: #ffff !important;
}
.sub-menu {
  padding-left: 0px;
}
.v-list-group__header__prepend-icon .v-icon {
  color: #ffff !important;
}
.v-list-group .v-list-group__header .v-list-item {
  padding-left: 0px;
}
.v-list-group__header__append-icon > .v-icon {
  color: #ffff !important;
}
.router-link {
  text-decoration: none !important;
}
</style>
