<template>
  <v-card class="mx-auto">
    <v-list-item three-line>
      <v-list-item-content>
        <v-card flat tile class="d-flex justify-space-between mb-3">
          <v-card flat tile class="top-row-title">
            <span class="overview">{{ title }}</span>
          </v-card>
          <v-card flat tile class="top-row-chip">
            <v-chip small class="ma-2 top-row-chip primary">
              {{ title }}
            </v-chip>
          </v-card>
        </v-card>
        <v-card flat class="mb-3">
          <span class="title">{{ type }}{{ Math.abs(value) }}</span>
        </v-card>

        <v-card flat tile class="d-flex justify-space-between mb-3">
          <v-card flat tile class="">
            <v-icon v-if="value > 0" color="primary" class="nav-item">
              {{ icons.mdiArrowUpThick }}
            </v-icon>
            <v-icon v-else color="error" class="nav-item">
              {{ icons.mdiArrowDownThick }}
            </v-icon>
          </v-card>
          <v-card flat tile class="">
            <v-icon v-if="value > 0" color="primary" class="nav-item">
              {{ icons.mdiArrowUpThick }}
            </v-icon>
            <v-icon v-else color="error" class="nav-item">
              {{ icons.mdiArrowDownThick }}
            </v-icon>
          </v-card>
        </v-card>
        <v-list-item-subtitle v-if="summary">{{ summary }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>

<script>
import {
  mdiArrowTopRight,
  mdiArrowBottomRight,
  mdiArrowUpThick,
  mdiArrowDownThick
} from '@mdi/js'

export default {
  name: 'SingleFileExample',
  data() {
    return {
      name: 'SingleFileExample',
      icons: {
        mdiArrowTopRight,
        mdiArrowBottomRight,
        mdiArrowUpThick,
        mdiArrowDownThick
      }
    }
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    value: {
      type: Number,
      default: 0
    },
    type: {
      type: String,
      default: ''
    },
    summary: {
      type: String,
      default: ''
    }
  },
  methods: {}
}
</script>

<style scoped>
.top-row-title {
  margin-top: 5px !important;
}
.top-row-chip {
  margin-top: 0px !important;
  margin-right: 0px !important;
}
</style>
