<template>
  <v-card class="mx-auto" max-width="344" outlined>
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">Overview</div>
        <v-list-item-title class="headline mb-1"> Headline </v-list-item-title>
        <v-list-item-subtitle>Brief summary of the card</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
    </v-list-item>

    <v-card-actions>
      <v-btn class="primary" small outlined rounded text> Button </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {}
</script>
