<template>
  <v-app :dark="dark">
    <v-container fluid fill-height>
      <v-main>
        <v-container fluid fill-height>
          <nuxt :dark="dark" />
        </v-container>
      </v-main>
    </v-container>
  </v-app>
</template>

<script>
export default {
  layout: 'auth',
  data: () => ({
    dark: false
  })
}
</script>
