<template>
  <!-- https://medium.com/wdstack/vuetify-dashboard-template-df3606572a5f -->
  <!-- https://www.programmersought.com/article/13196798908/ -->
  <!-- https://stackoverflow.com/questions/55503676/vuetify-navigation-drawer-with-sub-menus -->
  <v-app>
    <v-app-bar app color="primary" dark elevation="1">
      <v-app-bar-nav-icon
        @click.stop="sidebarMenu = !sidebarMenu"
      ></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
      <v-text-field
        id="search"
        flat
        :dark="dark"
        dense
        filled
        solo
        hide-details
        label="Search"
        prepend-inner-icon="mdi-magnify"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn @click="toggleTheme" color="primary" class="mr-2">{{
        buttonText
      }}</v-btn>
      <v-icon>mdi-account</v-icon>
    </v-app-bar>
    <v-navigation-drawer
      v-model="sidebarMenu"
      app
      dense
      floating
      :permanent="sidebarMenu"
      :mini-variant.sync="mini"
      elevation="1"
    >
      <v-list flat color="primary pt-1 pb-1" dark>
        <v-list-item color="primary" dark>
          <v-list-item-avatar class="">
            <v-img :src="require('~/assets/img/insightstream.png')"></v-img>
          </v-list-item-avatar>
          <v-list-item-content class="mt-0 mb-0 pt-2 pb-2">
            <v-list-item-title>
              <h3 class="font-weight mb-0">Insightstream</h3>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list-item class="px-2" @click="toggleMini = !toggleMini">
        <v-list-item-avatar>
          <v-icon>mdi-account-outline</v-icon>
        </v-list-item-avatar>
        <v-list-item-content class="text-truncate"> User </v-list-item-content>
        <v-btn icon small>
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>
      <v-divider></v-divider>
      <v-list>
        <div v-for="(item, id) in items" :key="'menu-' + id">
          <v-list-group v-if="item.children">
            <template v-slot:activator>
              <v-list-item-action>
                <v-icon slot="prependIcon">{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="(subItem, id) in item.children"
              :key="id"
              v-model="item.active"
              :to="subItem.href"
            >
              <v-list-item-action>
                <v-icon></v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="subItem.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item v-else link :to="item.href">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <!-- <v-container class="px-4 py-0 fill-height" fluid>
        <v-row class="fill-height">
          <v-col>
            <transition name="fade">
              <router-view></router-view>
            </transition>
          </v-col>
        </v-row>
      </v-container> -->
      <v-container fluid class="pa-5">
        <nuxt :dark="dark" />
      </v-container>
    </v-main>
    <v-footer class="py-3">
      <span class="ml-auto overline"
        >Insightstream &copy;{{ new Date().getFullYear() }}</span
      >
    </v-footer>
  </v-app>
</template>

<script>
import {
  mdiWhiteBalanceSunny,
  mdiWeatherNight,
  mdiBrightness5,
  mdiCircleSlice8,
  mdiRadioboxBlank,
  mdiCopyright,
  mdiApps,
} from '@mdi/js'
export default {
  data: () => ({
    dark: true,
    sidebarMenu: true,
    toggleMini: false,
    icons: { mdiWhiteBalanceSunny, mdiWeatherNight },
    items: [
      { title: 'Home', href: '/', icon: 'mdi-home-outline', active: false },
      {
        title: 'Apps',
        href: '/reports',
        icon: 'mdi-apps',
        active: true,
        children: [
          { title: 'Sentiments', href: '/sentiment-analysis' },
          // { title: 'App store reviews', href: '/appstore-reviews' },
          { title: 'Invoicing', href: '/invoicing' },
          { title: 'Expensing', href: '/expensing' },
          { title: 'Ecommerce', href: '/ecommerce' },
        ],
      },
      { title: 'Cards', href: '/cards', icon: 'mdi-palette-swatch' },
      {
        title: 'Charts',
        href: '/charts',
        icon: 'mdi-crown-outline',
        active: true,
        children: [
          { title: 'Apex charts', href: '/apex-charts' },
          { title: 'Chartjs', href: '/chartjs' },
        ],
      },
      {
        title: 'Tables',
        href: '/tables',
        icon: 'mdi-account-search-outline',
      },
      { title: 'Alerts', href: '/alerts', icon: 'mdi-alarm-light-outline' },
      {
        title: 'Core',
        href: '/inbox',
        icon: 'mdi-mailbox',
        model: true,
        children: [
          { title: 'Grid System', href: '/grid-system' },
          { title: 'Typography', href: '/typography' },
          { title: 'Colors', href: '/colors' },
        ],
      },
      { title: 'Settings', href: '/settings', icon: 'mdi-shield-account' },
    ],
  }),
  computed: {
    mini() {
      return this.$vuetify.breakpoint.smAndDown || this.toggleMini
    },
    buttonText() {
      return this.$vuetify.theme.dark ? 'Go Light' : 'Go Dark'
    },
  },
  methods: {
    toggleTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
      if (this.$vuetify.theme.dark == true) {
        this.dark = true
      } else {
        this.dark = false
      }
      console.log(this.$vuetify.theme.dark)
      console.log(this.dark)
    },
  },
  // watch: {
  //   dark: function () {
  //     let htmlElement = document.documentElement

  //     if (this.dark) {
  //       this.$vuetify.theme.dark = true
  //     } else {
  //       // localStorage.setItem('theme', 'light')
  //       this.$vuetify.theme.dark = false
  //     }
  //   },
  // },
}
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.theme--light.v-application ::-webkit-scrollbar {
  width: 13px !important;
}

.theme--light.v-application {
  background: #fafafa !important;
  border-left: 1px solid #dadada !important;
}

.theme--light.v-application ::-webkit-scrollbar-thumb {
  background: #b0b0b0 !important;
  border: solid 3px #e6e6e6 !important;
  border-radius: 7px;
}

.theme--light.v-application ::-webkit-scrollbar-thumb:hover {
  background: black !important;
}

.theme--dark.v-application ::-webkit-scrollbar {
  width: 13px !important;
}

.theme--dark.v-application ::-webkit-scrollbar-track {
  border-color: #303030 !important;
  border-left: 1px solid #2c2c2c !important;
}

.theme--dark.v-application ::-webkit-scrollbar-thumb {
  background-color: #3e3e3e !important;
  border: solid 3px #202020 !important;
  border-radius: 7px !important;
}

.theme--dark.v-application ::-webkit-scrollbar-thumb:hover {
  background: white !important;
}

.theme--dark.v-navigation-drawer {
  background-color: #363636 !important;
}

.theme--dark.v-card,
.theme--dark.v-sheet {
  background-color: #363636 !important;
  border-color: #363636 !important;
}

body div.v-application h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1;
}

body div.v-application h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1;
}

body div.v-application h3 {
  font-size: 1.64rem;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1;
}

body div.v-application h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1;
}

body div.v-application h5 {
  font-size: 1.285rem;
  font-weight: 400;
  margin-bottom: 16px;
}

body div.v-application h6 {
  font-size: 1.142rem;
  font-weight: 400;
  margin-bottom: 16px;
}
</style>
