<template>
  <v-layout column>
    <v-row>
      <v-col>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card flat tile class="d-flex justify-space-between">
                <v-card flat tile class="top-row-title">
                  <span class="text-h5">Apex Charts examples</span>
                </v-card>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <!-- first row charts -->
    <v-row>
      <v-col md="4" lg="4">
        <Stacked />
      </v-col>
      <v-col md="4" lg="4">
        <Lines />
      </v-col>
      <v-col md="4" lg="4">
        <Column />
      </v-col>
    </v-row>
    <!-- first row chart -->

    <!-- second row charts -->
    <v-row>
      <v-col md="4" lg="4">
        <Area />
      </v-col>
      <v-col md="4" lg="4">
        <Mixed />
      </v-col>
      <v-col md="4" lg="4">
        <Bubble />
      </v-col>
    </v-row>
    <!-- second row chart -->

    <!-- third row charts -->
    <v-row>
      <v-col md="4" lg="4">
        <Donut />
      </v-col>
      <v-col md="4" lg="4">
        <Gauge />
      </v-col>
      <v-col md="4" lg="4">
        <Scatter />
      </v-col>
    </v-row>
    <!-- third row chart -->

    <!-- fourth row charts -->
    <v-row>
      <v-col md="6" lg="6">
        <HeatMap />
      </v-col>
      <v-col md="6" lg="6">
        <TreeMap />
      </v-col>
    </v-row>
    <!-- fourth row chart -->
  </v-layout>
</template>

<script>
export default {
  layout: 'dashboard',
}
</script>
