<template>
  <v-layout column>
    <v-row>
      <v-col>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card flat tile class="d-flex justify-space-between">
                <v-card flat tile class="top-row-title">
                  <span class="text-h5">App store reviews</span>
                </v-card>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Search reviews by app name</v-card-title>

          <v-card-text>
            <v-row align="center">
              <v-col cols="12" sm="6" md="3">
                <v-text-field
                  label="Regular"
                  placeholder="App name"
                  v-model="name"
                ></v-text-field>
              </v-col>
              <v-btn depressed color="primary" @click="getReviews">
                Search
              </v-btn>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Reviews</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <template v-if="reviews.length != 0">
      <v-row v-for="(item, id) in reviews" :key="'review-' + id">
        <v-col>
          <v-card>
            <v-card-title>
              {{ item.title }}
            </v-card-title>
            <v-card-subtitle>
              <span> {{ item.userName }} </span>
              <v-rating
                v-model="item.rating"
                background-color="primary lighten-3"
                v-if="item.sentiment.toLowerCase() == 'positive'"
                color="primary"
                dense
                readonly
                half-increments
                hover
                size="18"
              ></v-rating>
              <v-rating
                v-model="item.rating"
                background-color="primary lighten-3"
                v-else
                color="secondary"
                dense
                readonly
                half-increments
                hover
                size="18"
              ></v-rating>
              <span class="grey--text text--lighten-2 caption mr-2">
                {{ item.sentiment.toLowerCase() }} ({{ item.score }})
              </span>
            </v-card-subtitle>
            <v-card-text>
              <div>{{ item.review }}</div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </template>
  </v-layout>
</template>

<script>
// import axios from 'axios'
export default {
  layout: 'dashboard',
  data() {
    return {
      name: '',
      reviews: [],
    }
  },
  methods: {
    getReviews: async function (e) {
      console.log(this.name)
      if (this.name !== null && this.name !== '') {
        const appReviews = await this.$axios
          .$post('/v1/reviews/appstore/', { name: this.name })
          .catch((error) => {
            if (this.$axios.isCancel(error)) {
              console.log('app store reviews api not accessible', error)
            } else {
              console.log(error)
            }
          })
        this.name = appReviews.data.name
        this.reviews = appReviews.data.reviews
        console.log(appReviews)
      }
    },
  },
}
</script>
