<template>
  <v-row align="center" justify="center" dense outlined elevation="0" no-gutters>
    <v-flex xs12 sm6 md3>
      <v-card class="pa-2" tile>
        <!-- <v-img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
          <v-card-title class="justify-center">
            Insighstream
          </v-card-title>
        </v-img> -->
        <v-card-text class="text--primary">
          <v-row justify="center">
            <p class="text-h6 text--primary">Insightstream</p>
          </v-row>
          <v-text-field flat filled dense placeholder="username"></v-text-field>
          <v-text-field flat filled dense placeholder="password"></v-text-field>
          <v-btn block depressed color="primary">
            Sign-in
          </v-btn>
          <br />
          <v-btn block depressed color="primary">
            Sign-up
          </v-btn>
          <v-divider></v-divider>
          <p class="text-center pa-2">or</p>
          <div class="text-center">
            <v-btn
              v-for="(social, i) in socials"
              :key="i"
              :color="social.color"
              class="mx-2"
              fab
              small
            >
              <v-icon>{{ social.icon }}</v-icon>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-row>
</template>

<script>
export default {
  layout: 'auth',
  data: () => ({
    company: {
      title: 'Startup essentials',
      img: 'https://cdn.vuetifyjs.com/images/cards/house.jpg'
    },
    socials: [
      {
        icon: 'mdi-facebook',
        color: 'indigo'
      },
      {
        icon: 'mdi-linkedin',
        color: 'cyan darken-1'
      },
      {
        icon: 'mdi-google',
        color: 'red lighten-3'
      },
      {
        icon: 'mdi-github',
        color: 'grey lighten-3'
      }
    ]
  })
}
</script>
