<template>
  <v-layout column>
    <v-row>
      <v-col v-for="(info, idx) in 4" :key="'res-' + idx">
        <RestaurantReservation />
      </v-col>
    </v-row>

    <v-row>
      <v-col v-for="(info, idx) in 4" :key="'res-' + idx">
        <RestaurantReservation />
      </v-col>
    </v-row>

    <v-row>
      <v-col v-for="(info, idx) in 4" :key="'blogpost-' + idx">
        <BlogPostMiniCard />
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
export default {
  layout: 'dashboard',
}
</script>
