<template>
  <v-layout column>
    <v-row>
      <v-col>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card flat tile class="d-flex justify-space-between">
                <v-card flat tile class="top-row-title">
                  <span class="text-h5">ECharts examples</span>
                </v-card>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <!-- first row charts -->
    <v-row>
      <v-col md="4" lg="4">
        <Series />
      </v-col>
      <v-col md="4" lg="4">
        <Lines />
      </v-col>
      <v-col md="4" lg="4">
        <Column />
      </v-col>
    </v-row>
    <!-- first row chart -->

    <!-- second row charts -->
    <v-row>
      <v-col md="4" lg="4">
        <Area />
      </v-col>
      <v-col md="4" lg="4">
        <Mixed />
      </v-col>
      <v-col md="4" lg="4">
        <Bubble />
      </v-col>
    </v-row>
    <!-- second row chart -->

    <!-- third row charts -->
    <v-row>
      <v-col md="4" lg="4">
        <Donut />
      </v-col>
      <v-col md="4" lg="4">
        <Gauge />
      </v-col>
      <v-col md="4" lg="4">
        <Scatter />
      </v-col>
    </v-row>
    <!-- third row chart -->

    <!-- fourth row charts -->
    <v-row>
      <v-col md="6" lg="6">
        <HeatMap />
      </v-col>
      <v-col md="6" lg="6">
        <TreeMap />
      </v-col>
    </v-row>
    <!-- fourth row chart -->
  </v-layout>
</template>

<script>
export default {
  layout: 'dashboard',
  data: () => ({
    barChartData: {
      labels: [
        '2019-06',
        '2019-07',
        '2019-08',
        '2019-09',
        '2019-10',
        '2019-11',
        '2019-12',
        '2020-01',
        '2020-02',
        '2020-03',
      ],
      datasets: [
        {
          label: 'Visualizaciones',
          data: [2, 1, 16, 3, 4, 5, 0, 0, 4, 12, 2],
          backgroundColor: 'rgba(20, 255, 0, 0.3)',
          borderColor: 'rgba(100, 255, 0, 1)',
          borderWidth: 2,
        },
      ],
    },
    barChartOptions: {
      responsive: true,
      legend: {
        display: false,
      },
      title: {
        display: true,
        text: 'Google analytics data',
        fontSize: 24,
        fontColor: '#6b7280',
      },
      tooltips: {
        backgroundColor: '#17BF62',
      },
      scales: {
        xAxes: [
          {
            gridLines: {
              display: true,
            },
          },
        ],
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
              max: 7,
              min: 0,
              stepSize: 1,
            },
            gridLines: {
              display: true,
            },
          },
        ],
      },
    },
  }),
}
</script>
