<template>
  <v-layout column>
    <v-row>
      <v-col>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card flat tile class="d-flex justify-space-between">
                <v-card flat tile class="top-row-title">
                  <span class="text-h5">Theme colors</span>
                </v-card>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <!-- first row charts -->
    <v-row>
      <v-col md="6" lg="6">
        <v-card>
          <v-card-title>Buttons</v-card-title>
          <v-card-text>
            <v-btn class="mr-4">Default</v-btn>
            <v-btn color="primary mr-4">Primary</v-btn>
            <v-btn color="secondary mr-4">Secondary</v-btn>
            <v-btn color="success mr-4">Success</v-btn>
            <v-btn color="warning mr-4">Warning</v-btn>
            <v-btn color="info mr-4">Info</v-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col md="6" lg="6">
        <v-card class="pa-2">
          <v-card-title>Heading with theme colors</v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <h1 class="pb-3 primary--text">h1 Heading - primary</h1>
                <h2 class="pb-3 success--text">h2 Heading - success</h2>
                <h3 class="pb-3 secondary--text">h3 Heading - secondary</h3>
                <h4 class="pb-3 warning--text">h4 Heading - warning</h4>
                <h5 class="pb-3 access--text">h5 Heading - access</h5>
                <h6 class="pb-3 info--text">h6 Heading - info</h6>
                <span class="pb-3 error--text">span text - error</span>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <!-- first row chart -->
  </v-layout>
</template>

<script>
export default {
  layout: 'dashboard',
  data: () => ({
    currentTheme: {
      primary: 'primary',
      secondary: 'secondary',
      accent: 'accent',
      success: 'success',
      info: 'info',
      warning: 'warning',
      error: 'error',
      background: '#FFF',
    },
  }),
}
</script>
