<template>
  <v-layout column>
    <v-row>
      <v-col>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card flat tile class="d-flex justify-space-between">
                <v-card flat tile class="top-row-title">
                  <span class="text-h5">Grid System</span>
                </v-card>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card class="pa-2"> .col-col-12</v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col sm="5" md="6">
        <v-card class="pa-2"> .col-sm-5 .col-md-6 </v-card>
      </v-col>
      <v-col sm="5" offset-sm="2" md="6" offset-md="0">
        <v-card class="pa-2">
          .col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col sm="6" lg="4">
        <v-card class="pa-2"> .col-sm-6 .col-lg-4 </v-card>
      </v-col>
      <v-col sm="6" lg="4">
        <v-card class="pa-2"> .col-sm-6 .col-lg-4 </v-card>
      </v-col>
      <v-col sm="6" lg="4">
        <v-card class="pa-2"> .col-sm-6 .col-lg-4 </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col sm="6" md="4" lg="3">
        <v-card class="pa-2"> .col-sm-6 .col-md-4 .col-lg-3 </v-card>
      </v-col>
      <v-col sm="6" md="4" lg="3">
        <v-card class="pa-2"> .col-sm-6 .col-md-4 .col-lg-3 </v-card>
      </v-col>
      <v-col sm="6" md="4" lg="3">
        <v-card class="pa-2"> .col-sm-6 .col-md-4 .col-lg-3 </v-card>
      </v-col>
      <v-col sm="6" md="4" lg="3">
        <v-card class="pa-2"> .col-sm-6 .col-md-4 .col-lg-3 </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col sm="6" md="5" lg="6">
        <v-card class="pa-2" outlined tile>
          .col-sm-6 .col-md-5 .col-lg-6
        </v-card>
      </v-col>
      <v-col sm="6" md="5" offset-md="2" lg="6" offset-lg="0">
        <v-card class="pa-2" outlined tile>
          .col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0
        </v-card>
      </v-col>
    </v-row>

    <v-row v-for="j in justify" :key="'second-row-' + j" :justify="j">
      <v-col v-for="k in 2" :key="'second-row-cols-' + k" md="4">
        <simple-card />
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import simpleCard from '@/components/cards/simple-card.vue'
export default {
  components: { simpleCard },
  layout: 'dashboard',
  data: () => ({
    justify: ['start', 'center', 'end', 'space-around', 'space-between'],
  }),
}
</script>
