<template>
  <v-layout column>
    <v-row>
      <v-col>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card flat tile class="d-flex justify-space-between">
                <v-card flat tile class="top-row-title">
                  <span class="text-h5">Dashboard</span>
                </v-card>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col v-for="(info, idx) in infoCards" :key="'info-' + idx">
        <InfoCard :title="info.title" :value="info.value" :type="info.type" />
      </v-col>
    </v-row>

    <v-row>
      <v-col v-for="(info, idx) in 4" :key="'res-' + idx">
        <RestaurantReservation />
      </v-col>
    </v-row>

    <v-row>
      <v-col v-for="(info, idx) in 4" :key="'blogpost-' + idx">
        <BlogPostMiniCard />
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
export default {
  layout: 'dashboard',
  data: function () {
    return {
      enabled: true,
      user: 'User',
      message: 'Message from parent!',
      infoCards: [
        { title: 'Profit', value: 100, type: '$' },
        { title: 'Expense', value: 1000, type: '$' },
        { title: 'Loss', value: -100, type: '$' },
        { title: 'Total', value: -1000, type: '$' },
      ],
    }
  },
}
</script>

<style scoped>
.page-title-divider {
  margin-top: 10px !important;
}
.top-row-title {
  margin-top: 5px !important;
}
</style>
