<template>
  <div>
    <div v-if="!$fetchState.pending && !$fetchState.error">
      {{ title }}
    </div>
  </div>
</template>

<script>
export default {
  layout: 'dashboard',
  loading: false, // disable default loading handling
  async fetch() {
    // show loading
    this.$nuxt.$loading.start()

    // const HOST = 'http://localhost:8080' // required for server-side fetch
    // const url = new URL(`/data/test.json`, HOST)
    const url = 'https://jsonplaceholder.typicode.com/posts/1'
    // alternatvely, you could use $axios or $http
    const res = await fetch(url)
    const data = await res.json()

    this.title = data.title

    // sleep 5s
    await new Promise((r) => setTimeout(r, 2000))

    // hide loading
    this.$nuxt.$loading.finish()
  },
  data() {
    return {
      title: null,
    }
  },
}
</script>
