<template>
  <v-layout column>
    <v-row>
      <v-col>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card flat tile class="d-flex justify-space-between">
                <v-card flat tile class="top-row-title">
                  <span class="text-h5">Sentiment Analysis</span>
                </v-card>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card class="pa-2">
          <v-card-title>Input</v-card-title>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-textarea
                name="input-7-1"
                value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                @blur="blurEventHandler($event)"
                @keyup.enter="$event.target.blur()"
                hint="Input text to detect sentiment"
              ></v-textarea>
            </v-row>
            <v-row align="center" class="mx-0">
              <v-text-field
                :value="computedSentiment"
                label="Output"
                disabled
              ></v-text-field>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
// import axios from 'axios'
export default {
  layout: 'dashboard',
  data() {
    return {
      sentiment: '',
      score: 0,
    }
  },
  methods: {
    blurEventHandler: async function (e) {
      const text = e.target.value
      const sentiment = await this.$axios
        .$post('/v1/sentiments/', { text: text })
        .catch((error) => {
          if (this.$axios.isCancel(error)) {
            console.log('sentiment url is not accessible', error)
          } else {
            console.log(error)
          }
        })
      this.sentiment = sentiment.data.sentiment
      this.score = sentiment.data.score
    },
  },
  computed: {
    computedSentiment: function () {
      return (
        'The sentence has a "' +
        this.sentiment.toLowerCase() +
        '" sentiment with a score of ' +
        this.score
      )
    },
  },
}
</script>
