<template>
  <v-layout column>
    <v-row>
      <v-col>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card flat tile class="d-flex justify-space-between">
                <v-card flat tile class="top-row-title">
                  <span class="text-h5">Typography</span>
                </v-card>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col sm="6" md="6">
        <v-card class="pa-2">
          <v-card-title>Headings</v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <h1 class="pb-3">h1 Heading</h1>
                <h2 class="pb-3">h2 Heading</h2>
                <h3 class="pb-3">h3 Heading</h3>
                <h4 class="pb-3">h4 Heading</h4>
                <h5 class="pb-3">h5 Heading</h5>
                <h6 class="pb-3">h6 Heading</h6>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col sm="6" md="6">
        <v-card class="pa-2">
          <v-card-title>Heading with theme colors</v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <h1 class="pb-3 primary--text">h1 Heading - primary</h1>
                <h2 class="pb-3 success--text">h2 Heading - success</h2>
                <h3 class="pb-3 secondary--text">h3 Heading - secondary</h3>
                <h4 class="pb-3 warning--text">h4 Heading - warning</h4>
                <h5 class="pb-3 access--text">h5 Heading - access</h5>
                <h6 class="pb-3 info--text">h6 Heading - info</h6>
                <span class="pb-3 error--text">span text - error</span>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="6" md="6">
        <v-card class="pa-2">
          <v-card-title>Text settings</v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <p class="pb-3 font-weight-regular">regular text</p>
                <p class="pb-3 font-weight-light">light text</p>
                <p class="pb-3 font-weight-medium">medium text</p>
                <p class="pb-3 font-weight-bold">bold text</p>
                <p class="pb-3 text-uppercase">uppercase text</p>
                <p class="pb-3 text-lowercase">lowercase text</p>
                <p class="pb-3 text-capitalize">capitalized text</p>
                <p class="pb-3 font-italic">italic text</p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col sm="6" md="6">
        <v-card class="pa-2">
          <v-card-title>Text size</v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <p class="pb-3 text-caption">Caption text</p>
                <p class="pb-3 text-body-1">Body text</p>
                <p class="pb-3 text-h5">h5 text</p>
                <p class="pb-3 text-h4">h4 text</p>
                <p class="text-h3">h3 text</p>
                <p class="text-h2">h2 text</p>
                <p class="text-h1">h1 text</p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
export default {
  layout: 'dashboard',
}
</script>
